﻿@model Catalogo_telefonico.Models.ViewModel.LoginModelView;

@{
    ViewData["Title"] = "login";

}
<div class="container mt-3">
    @if (TempData["error"] != null)
    {
        <div class="row">
            <div class="col text-center">
                <div class="text-center alert alert-danger" role="alert">
                    @TempData["error"]
                </div>
            </div>
        </div>
    }
    <form asp-action="login" id="login">
        <div class="rounded-lg text-white" style="background:#000000">
            <div class="row align-items-center text-center" style="height:6rem">
                <div class="col">
                    <i class="fas fa-user fa-2x text-right"></i>
                </div>
            </div>
            <div class="row align-items-center text-center" style="height:6rem">
                <div class="col">
                    <p class="lead">
                        <i class="fas fa-phone"></i>
                        <span>Visualiza el grupo de lineas de nuestro catalogo</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="form-row align-items-center" style="height:6rem">
            <input type="text" id="input-user" asp-for="UserName" class="form-control" placeholder="Usuario" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-row" style="height:6rem">
            <input type="password" asp-for="Password" class="form-control" placeholder=" Contraseña" id="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-row align-items-center" style="height:6rem">
            <input class="btn btn-primary btn-block" type="submit" value="iniciar sesion" />
        </div>
    </form>
</div>