﻿@using Microsoft.AspNetCore.Identity;
@using Catalogo_telefonico.Models.Enums;
@inject SignInManager<SccUser> SignInManager
@inject UserManager<SccUser> UserManager
@{
    var isSignedIn = SignInManager.IsSignedIn(User);
    var isAdmin = false;
    var isTelefonico = false;
    var isSupervisor = false;


    if (isSignedIn)
    {
        isAdmin = User.IsInRole("administrador");
        if (!isAdmin)
        {
            isTelefonico = User.IsInRole(Roles.Telefonico.ToString());
            if (!isTelefonico)
            {
                isSupervisor = User.IsInRole(Roles.supervisor.ToString());
                if (!isSupervisor)
                {
                    isSupervisor = true;
                }
            }
        }
    }
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string action = (string)ViewContext.RouteData.Values["action"];
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Catalogo_telefonico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.14.0-web/css/solid.min.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.14.0-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.14.0-web/css/regular.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.14.0-web/css/regular.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        @if (isSignedIn)
        {
            if (isAdmin)
            {
                <nav class="navbar navbar-dark bg-dark">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Authorization" asp-action="Logout"><i class="fas fa-window-close"></i> Cerrar sesion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="LineasMoviles" asp-action="Index"> <i class="fas fa-phone-square-alt"></i> Catalogo de Telefono</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Administrador" asp-action="Index"><i class="fas fa-users"></i> Catalogo de Usuarios</a>
                        </li>
                        <li class="nav-item float-right">
                            <a class=" nav-link text-white"><i class="fas fa-hand-holding"></i> Hola @UserManager.GetUserName(User)!</a>
                        </li>
                    </ul>
                </nav>
            }
            if (isSupervisor || isTelefonico)
            {
                <nav class="navbar navbar-dark bg-dark">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Authorization" asp-action="Logout"><i class="fas fa-window-close"></i> Cerrar sesion</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="LineasMoviles" asp-action="Index"><i class="fas fa-phone-square-alt"></i> Catalogo de Telefono</a>
                        </li>
                        <li class="nav-item float-right">
                            <a class=" nav-link text-white"><i class="fas fa-hand-lizard"></i> Hola @UserManager.GetUserName(User)!</a>
                        </li>
                    </ul>
                </nav>
            }
        }
        else
        {
            <nav class="navbar navbar-dark bg-dark">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Authorization" asp-action="Login"><i class="fas fa-phone-alt"></i> Acceder a tus lineas telefonicas</a>
                    </li>
                </ul>
            </nav>
        }

        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/d6c73f321f.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/fontawesome-free-5.14.0-web/js/all.js"></script>
    <script src="~/fontawesome-free-5.14.0-web/js/fontawesome.js"></script>
    <script src="~/fontawesome-free-5.14.0-web/js/fontawesome.min.js"></script>
    <script src="~/fontawesome-free-5.14.0-web/js/regular.js"></script>
    <script src="~/fontawesome-free-5.14.0-web/js/regular.min.js"></script>
    <script src="~/fontawesome-free-5.14.0-web/js/solid.js"></script>
    <script src="~/fontawesome-free-5.14.0-web/js/solid.min.js"></script>
</body>
</html>
