﻿@using Catalogo_telefonico.Help;
@model Paginacion<Catalogo_telefonico.Models.SccUser>;

<div class="container mt-2">
    <div class="row text-center">
        <div class="col">
            <h2 class="text-dark">Administracion de usuario:</h2>
        </div>
    </div>
    <br />
    <form asp-controller="User" asp-action="create" id="create-new">
        <button type="submit" class="btn btn-lg btn-success">Crear Usuario</button>
    </form>
    <br />
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre de la persona</th>
                <th>Nombre de usuario</th>
                <th>Tipo de usuario</th>
                <th>Rol</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody class="table table-primary bg-dark text-light">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.name</td>
                        <td scope="rowgroup">@item.UserName</td>
                        <td scope="rowgroup">@item.tipoUser</td>
                        <td scope="rowgroup">@item.NormalizedUserName</td>
                        <td scope="rowgroup"><a class="btn btn-primary" asp-controller="User" asp-action="edit" asp-route-Id="@item.Id">Editar</a></td>
                        <td scope="rowgroup"><a class="btn btn-danger" asp-controller="User" asp-action="delete" asp-route-Id="@item.Id">Eliminar</a></td>
                    </tr>
                }
            }
            else
            {
                <p>No se encontro ningun registro</p>
            }
        </tbody>

    </table>
    @{ var prevDisable = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
    }
    <nav aria-label="Page navigation example ">
        <ul class="pagination">
            @if (Model.PageIndex > 1)
            {
                <li class="page-item">
                    <a class="page-link text-white @prevDisable bg-primary text-white" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)"><i class="fas fa-arrow-circle-left"></i></a>
                </li>
            }
            <li class="page-item list-group-item-success"><a class="page-link bg-primary text-white">Pagina</a></li>
            <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white" asp-action="Index" asp-route-pageNumber="@Model.PageIndex">@Model.PageIndex</a></li>
            <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white">De</a></li>
            <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white">@Model.TotalPages</a></li>

            @if (Model.PageIndex < Model.TotalPages)
            {
                <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white @nextDisabled" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)"><i class="fas fa-arrow-circle-right"></i></a></li>
            }
        </ul>
    </nav>
</div>