﻿
@using Catalogo_telefonico.Help
@model Paginacion<Catalogo_telefonico.Models.DetailMobileline>;

<div class="container">
    <form class="form" enctype="multipart/form-data" action="ImportdetailLine" method="post">
        <div class="row">
            <div class="col">
                <h2 class="text-secondary">Detalle de la linea</h2>
                <input type="file" accept="cvs" name="file" />
                <input type="submit" class="btn btn-success" value="importar detalle linea" />
            </div>
        </div>
    </form>
    <table class="table table-sm table-striped"
           data-toggle="table"
           data-toolbar="#toolbarEmployees"
           data-search="true"
           data-trim-on-search="false"
           data-minimum-count-columns="2"
           data-page-list="[10, 25, 50, 100, all]"
           data-detail-formatter="true"
           data-pagination="true"
           data-id-field="id"
           data-show-footer="false">
        <thead class="bg-dark text-warning">
            <tr>
                <th scope="col">Linea</th>
                <th scope="col">Linea Marcada</th>
                <th scope="col">Lugar</th>
                <th scope="col">Fecha</th>
                <th scope="col">Duracion</th>
                <th scope="col">Costo total</th>
            </tr>
        </thead>

        <tbody class="table-active">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@item.Phone</td>
                        <td scope="row">@item.CalledPartyNumber</td>
                        <td scope="row">@item.CalledPartyDescription</td>
                        <td scope="row">@item.DateTimeS</td>
                        <td scope="row">@item.Duration</td>
                        <td scope="row">@item.TotalCost</td>
                    </tr>
                }
            }
            else
            {
                <p class="text-danger">No hay detalle de la linea</p>
            }

        </tbody>
    </table>
    @{ var prevDisable = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
        var value = TempData["Value"];
    }

    <nav aria-label="Page navigation example ">
        <ul class="pagination">

            @if (Model.PageIndex > 1)
            {
                <li class="page-item">
                    <a class="page-link  @prevDisable bg-primary text-white" id="Previous" asp-action="Detail" asp-route-valor="@value" asp-route-pageNumber="@(Model.PageIndex - 1)"><i class="fas fa-arrow-circle-left"></i></a>
                </li>
            }
            <li class="page-item"><a class="page-link bg-primary text-white">Pagina</a></li>
            <li class="page-item"><a class="page-link bg-primary text-white" id="index" asp-action="Detail" en asp-route-valor="@value" asp-route-pageNumber="@Model.PageIndex">@Model.PageIndex</a></li>
            <li class="page-item"><a class="page-link bg-primary text-white">De</a></li>
            <li class="page-item"><a class="page-link bg-primary text-white" id="totalpages">@Model.TotalPages</a></li>
            @if (Model.PageIndex < Model.TotalPages)
            {
                <li class="page-item"><a class="page-link @nextDisabled bg-primary text-white" id="Next" asp-action="Detail" asp-route-valor="@value" asp-route-pageNumber="@(Model.PageIndex + 1)"><i class="fas fa-arrow-circle-right"></i></a></li>
            }
        </ul>
    </nav>
</div>
