﻿@using Catalogo_telefonico.Help;
@model Paginacion<Catalogo_telefonico.Models.Mobileline>;
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">
                lista de celulares
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form" enctype="multipart/form-data" action=" ImportMobileline" method="post">
                <input type="file" name="file" accept="csv" />
                <input type="submit" class="btn btn-success" value="Importar" />
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline float-lg-right">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="text" class="form-control" name="searchString" placeholder="Buscar" value="@ViewData["CurrentFilter"]">
                </div>
                <button type="submit" class="btn btn-outline-success mb-2">Buscar</button>
            </form>
        </div>
    </div>

    <table class="table table-sm table-striped"
           data-toggle="table"
           data-toolbar="#toolbarEmployees"
           data-search="true"
           data-trim-on-search="false"
           data-minimum-count-columns="2"
           data-page-list="[10, 25, 50, 100, all]"
           data-detail-formatter="true"
           data-pagination="true"
           data-id-field="id"
           data-show-footer="false">
        <thead class="bg-dark text-warning">
            <tr>
                <th class="text-center">linea telefonica</th>
                <th class="text-center">nombre</th>
                <th class="text-center">detail</th>
            </tr>
        </thead>
        <form method="get">
            <tbody class="table-active">
                @if (Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr data-formatter="operateUserFormatter"
                            data-align="center"
                            data-cell-style="cellStyle">
                            <td class="text-center">
                                @item.Phone
                            </td>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center"><a class="btn btn-outline-primary" asp-action="Detail" asp-route-valor="@item.Phone">Detalles</a></td>
                        </tr>

                    }
                }
                else
                {
                    <h3 class="text-center text-danger">No contiene ningun registro</h3>
                }

            </tbody>
        </form>
    </table>
    @{ var prevDisable = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
    }
    <nav aria-label="Page navigation example ">
        <ul class="pagination">
            @if (Model.PageIndex > 1)
            {
                <li class="page-item">
                    <a class="page-link text-white @prevDisable bg-primary text-white" asp-action="Index" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pageNumber="@(Model.PageIndex-1)"><i class="fas fa-arrow-circle-left"></i></a>
                </li>
            }
            <li class="page-item list-group-item-success"><a class="page-link bg-primary text-white">Pagina</a></li>
            <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white" asp-action="Index" asp-route-pageNumber="@Model.PageIndex">@Model.PageIndex</a></li>
            <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white">De</a></li>
            <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white">@Model.TotalPages</a></li>

            @if (Model.PageIndex < Model.TotalPages)
            {
                <li class="page-item bg-primary list-group-item-succes"><a class="page-link bg-primary text-white @nextDisabled" asp-action="Index" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-pageNumber="@(Model.PageIndex+1)"><i class="fas fa-arrow-circle-right"></i></a></li>
            }
        </ul>
    </nav>
</div>





