﻿@model Catalogo_telefonico.Models.RegisterModel
@using Catalogo_telefonico.Models.Enums

    <div class="container mt-3">
        @if (TempData["create-error"] != null) {
        <div class="alert alert-danger">
            @TempData["create-error"]
        </div>
        }
        <br />
        <form asp-action="Create" id="create">
            <div class="rounded-lg text-white" style="background:#234456">
                <div class="row align-items-center text-center" style="height:5rem">
                    <div class="col">
                        <h2 class="text-center">
                            <i class="fas fa-user-circle"></i> Nuevo Usuario
                        </h2>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-row align-items-start" style="height:4rem">
                <input asp-for="name" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-row align-items-start" style="height:4rem">
                <input asp-for="UserName" class="form-control" placeholder="Nombre de usuario" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-row align-items-start" style="height:4rem">
                <input type="tel" asp-for="telefono" class="form-control" placeholder="Numero Telefonico" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-row align-items-start" style="height:4rem">
                <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-row align-items-start" style="height:4rem">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-row align-items-start select-options" style="height:4rem">
                <select asp-for="roles" asp-items="Html.GetEnumSelectList<Roles>()" class="form-control">
                    <option selected="selected" value="">Seleccione el rol</option>
                </select>
                <span asp-validation-for="roles" class="text-danger"></span>
            </div>
            <div class="form-row align-items-start select-options" style="height:4rem">
                <select asp-for="tipoUser" asp-items="Html.GetEnumSelectList<TipoUser>()" class="form-control">
                    <option selected="selected" value="">Seleccione el tipo de usuario</option>
                </select>
                <span asp-validation-for="tipoUser" class="text-danger"></span>
            </div>
            <div class="form-row align-items-center" style="height:4rem">
                <input type="submit" value="Crear" class="btn btn-primary btn-block" />
                <a class="btn btn-danger btn-block text-white" asp-controller="Administrador" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
