﻿@using Catalogo_telefonico.Models.Enums;
@model Catalogo_telefonico.Models.UserModel;
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-3">
            <form asp-action="Edit" asp-controller="User" id="edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="rounded-lg text-white" style="background:#000000">
                <div class="row align-items-center text-center" style="height:6rem">
                    <div class="col">
                        <i class="fas fa-user-edit fa-2x text-right"></i>
                        <h4>Modificar usuario</h4>
                    </div>
                </div>
               </div>
                <hr />
                <div class="form-row" style="height:6rem">
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-row" style="height:6rem">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-row select-options" style="height:6rem">
                    <select asp-for="roles" asp-items="Html.GetEnumSelectList<ERolesView>()" class="form-control">
                    </select>
                    <span asp-validation-for="roles" class="text-danger"></span>
                </div>
                <div class="form-row select-options" style="height:6rem">
                    <select asp-for="tipoUser" asp-items="Html.GetEnumSelectList<TipoUser>()" class="form-control">
                    </select>
                    <span asp-validation-for="tipoUser" class="text-danger"></span>
                </div>
                <div class="form-row" style="height:6rem">
                    <input type="tel" asp-for="telefono" class="form-control" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="form-row"  style="height:6rem">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                    <a class="btn btn-danger btn-block text-white" asp-controller="Administrador" asp-action="Index">Volver</a>
                </div>
            </form>
        </div>

    </div>
</div>