﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

div input[type="text"] {
    background: white;
    border-color: blue;
    border-radius: 0.4rem;
    font-style: oblique;
    width: 26rem;
    margin-left: 1rem;
}

div input[type="tel"], input[type="password"] {
    background: white;
    border-color: blue;
    border-radius: 0.4rem;
    font-style: oblique;
    width: 26rem;
    margin-left: 1rem;
}

div input[type="date"] {
    background: #fff;
    border-color: blue;
    border-radius: 0.4rem;
    width: 26rem;
    margin-left: 1rem;
}

.select-options {
    border-color: blue;
    border-radius: 0.4rem;
    width: 26rem;
    margin-left: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container-page {
    padding: 0px;
    margin: 0px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 1.5rem;
    font: bolder;
}

html, body {
    height: 100%;
    width: 100%;
}

#login {
    background-position-y: 50%;
    background-position-x: 50%;
    height: 30rem;
    width: 28rem;
    background: rgba(255, 255, 255, 0.74);
    margin: 0 auto;
    margin-top: 3rem;
    color: whitesmoke;
    z-index: 0;
}

.body-content {
    margin: 0px;
    padding: 0px;
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(0, 148, 255, 0.60);
    background-size: cover;
    height: 100%;
}

#create {
    background-color: transparent;
}

.btn-login {
    border-color: #0366d6;
    color: whitesmoke;
}

    .btn-login:hover {
        background: #1b6ec2;
        color: whitesmoke;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#create {
    height: 42rem;
    width: 27.5rem;
    background-position-y: 50%;
    background-position-x: 50%;
    margin: 0 auto;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.83);
}

#edit {
    height: 42rem;
    width: 27.5rem;
    background-position-y: 50%;
    background-position-x: 50%;
    margin: 0 auto;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.83);
}
